with-node-red/flows/flows.json
[
    {
        "id": "2276d6559d8cdc4c",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce147b46c731d342",
        "type": "steedos-config",
        "name": "steedos",
        "transporter": "redis://127.0.0.1:6379/2",
        "namespace": "steedos",
        "options": "{}",
        "optionsType": "json"
    },
    {
        "id": "093de831c44358e0",
        "type": "inject",
        "z": "2276d6559d8cdc4c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "13c359c3e40772f7"
            ]
        ]
    },
    {
        "id": "13c359c3e40772f7",
        "type": "debug",
        "z": "2276d6559d8cdc4c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 140,
        "wires": []
    },
    {
        "id": "26c9301fac99bdbe",
        "type": "steedos-instance",
        "z": "2276d6559d8cdc4c",
        "broker": "ce147b46c731d342",
        "name": "steedos",
        "topic": "mol",
        "location": "flow",
        "x": 90,
        "y": 240,
        "wires": []
    }
]